//Colors
$color-1: #FFF
$color-2: #FFF
$color-3: #FFF
$background: #453d3d

// Styles
body
  background: $background
  
.star
  width: 30px
  height: 30px
  position: absolute
  
  &:before,
  &:after
    content: ''
    display: block
    width: 20%
    height: 100%
    border-radius: 20px
    background: $color-1
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
  
  &.alt
    &:before,
    &:after
      background: $color-2
  &.alt2
    &:before,
    &:after
      background: $color-3

  &:after
    transform: translate(-50%, -50%) rotate(90deg)
    
.sparkle
  width: 10px
  height: 10px
  position: absolute
  border-radius: 50%
  background: $color-1
  &.alt
    background: $color-2

  &.alt2
    background: $color-3
  
.medium
  transform: scale(0.5)

.small
  transform: scale(0.1)
  
// Anitmations
@keyframes pulse
  0%
    transform: scale(0.45)
  90%
    transform: scale(0.1)
  100%
    transform: scale(0.45)
  
.pulse
  animation: pulse 1s linear infinite

.pulse-1
  animation: pulse 1.1s 300ms linear infinite

.pulse-2
  animation: pulse 0.8s 600ms linear infinite

.pulse-3
  animation: pulse 1.3s 900ms linear infinite
  
input[type=checkbox] {
	vertical-align: bottom;
}

* {
	font-size: 9px;
}

/* GLOBAL STYLES */

body {
	margin: 0;
	padding: 8px;
	margin-bottom: auto;
}

blockquote blockquote {
	margin-left: 0em;
}

form {
	margin-bottom: 0px;
}

.postarea {
	text-align: center;
}

.postarea table {
	margin: 0px auto;
	text-align: left;
}

.replylink {
	float: right;
}
/*
.aa {
	white-space: pre;
	text-align: left;
	font-family: IPAMonaPGothic, Mona, 'MS PGothic', YOzFontAA97 !important;
}
*/
.thumb {
	border: none;
	float: left;
	margin: 2px 20px;
}

.nothumb {
	float: left;
	background: #eee;
	border: 2px dashed #aaa;
	text-align: center;
	margin: 2px 20px;
	padding: 1em 0.5em 1em 0.5em;
}

.reply blockquote, blockquote :last-child {
	margin-bottom: 0em;
}
/*
.reflink a {
	color: inherit;
	text-decoration: none;
}

.reflink a:hover{
	color: #800000;
}
*/
.reply .filesize {
	margin-left: 20px;
}
/*
.userdelete {
	float: right;
	text-align: center;
	white-space: nowrap;
}
*/
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.moderator {
	color: #FF0000;
}
.managebutton {
	font-size: 15px;
	height: 28px;
	margin: 0.2em;
}

.footer {
	clear: both;
	text-align:center;
}

.rules ul {
	margin: 0;
	padding-left: 0;
}

.floatpost {
	float: right;
	clear: both;
}

.login {
	text-align: center;
}

/* BOARD STYLE */
html {
	width:100%;
	margin:0px;
	padding:0px;
}
body {
	padding:4px;
	margin-left:10px; /*auto;*/
	margin-right:10px; /*auto;*/
}

html, body {
    background: linear-gradient(360deg, #000000 0%, #2e6766 100%);
	color:#ccfde8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
a {
	color: #1a29ca;
	text-decoration: none;
}
a:hover {
	color: #00bbff;
	text-decoration: underline;
}/*
.reflink a:hover{
	font-weight: bold;
}*/
.adminbar {
	text-align:right;
	clear:both;
	float:right;
}
.logo {
	clear:both;
	text-align:center;
	font-size:2em;
	color:#ffffff;
	width:100%;
}
.replymode {
	background:#E04000;
	text-align:center;
	padding:2px;
	color:rgb(0, 0, 0);
	width:100%;
}/*
.catalogmode {
	background:#0040E0;
	text-align:center;
	padding:2px;
	color:#FFFFFF;
	width:100%;
}*/
.rules {
	width: 300px;
	text-align:justify;
	font-size:6px;
}
.postblock {
	text-align:right;
	color:#000000;
	font-weight:800;
	font-size:11px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px #000;
}
.footer {
	font-size:12px;
	font-family:serif;
}/*
.passvalid {
	background:#EEAA88;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#AAAA66;
	color:#400000;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}*/
.row1 {
	background:#EEEECC;
	color:#800000;
}
.row2 {
	background:#DDDDAA;
	color:#800000;
}
.unkfunc {
	background:inherit;
	color:#789922;
}
.filesize {
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#CC1105;
	font-weight:800;
}
.postername {
	color:#ffc800;
	font-weight:bold;
}
.postertrip {
	color:#228854;
}/*
.oldpost {
	color:#CC1105;
	font-weight:800;
}*/
.omittedposts {
	color:#707070;
	font-style:italic;
}
.reply {
	background:rgb(24, 59, 37);
	padding:4px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px #000;
	/*background: #F0E0D6;
	color: #800000;*/
}
.replyhl {
	background: rgb(85, 185, 42);
	color: #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px #000;
}
.replytitle {
	font-size: 1.2em;
	color:rgb(204, 151, 5);
	font-weight:800;
}
.commentpostername {
	color:#117743;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color:#800000;
}
.abbrev {
	color:#707070;
}
.highlight {
	background:#F0E0D6;
	color:#800000;
	border: 2px dashed #EEAA88;
}
